<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="toy.foodmap.model.dao.ReviewDao">

    <resultMap id="reviewTotalMap" type="Review">
        <id column="reviewId" property="reviewId"/>
        <result column="visit_date" property="visitDate"/>
        <result column="star" property="star"/>
        <result column="memo" property="memo"/>
        <result column="image_url" property="imageUrl"/>
        <association column="store_id" property="store" javaType="Store">
            <id column="store_id" property="storeId"/>
            <result column="store_name" property="storeName"/>
            <result column="address_name" property="addressName"/>
            <result column="category" property="category"/>
            <result column="place_url" property="placeUrl"/>
            <result column="x" property="x"/>
            <result column="y" property="y"/>
            <result column="reg_cnt" property="regCnt"/>
        </association>
    </resultMap>

    <resultMap id="reviewOnlyMap" type="Review">
        <id column="review_seq" property="storeId"/>
        <result column="store_id" property="storeId"/>
        <result column="visit_date" property="visitDate"/>
        <result column="star" property="star"/>
        <result column="memo" property="memo"/>
        <result column="image_url" property="imageUrl"/>
    </resultMap>

    <insert id="insertReview" parameterType="Review">
        INSERT INTO review(store_id, visit_date, star, memo, image_url)
        VALUES (#{storeId}, #{visitDate}, #{star}, #{memo}, #{imageUrl})
    </insert>
    
    <select id="selectAll" resultMap="reviewTotalMap">
        select * from review, store
        WHERE review.store_id = store.store_id;
        
    </select>

    <select id="selectReviewByStore" parameterType="int">
        select * from review, store
        WHERE review.store_id = store.store_id and review.store_id=${storeId};
    </select>

    <select id="selectByCondition">
        select * from review, store
        WHERE review.store_id = store.store_id
        AND
    </select>
</mapper>